.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: rgb(33, 37, 41);
  letter-spacing: 2px;
}

.section-padding {
  padding: 4em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 6em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
.slide-in-left {
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.slide-in-right {
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.slide-in-top {
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.slide-in-bottom {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #2e2e2e;
}

.white-section {
  background-color: #fff;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 10000;
  mix-blend-mode: difference;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  text-decoration: none;
  color: #fff;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: #fff;
  transition: transform 0.3s;
  content: "";
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/header-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-size: 4.8rem;
  font-weight: 300;
  opacity: 0;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.rent .section-text {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
  opacity: 0;
}
.rent .section-text2 {
  font-size: 1.9rem;
  padding-top: 1em;
  font-family: "Poppins", cursive;
  color: #686767;
  text-align: center;
  opacity: 0;
}
.rent__box {
  display: flex;
  flex-direction: column;
  margin: 1.3em 0;
  padding: 2em;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
  opacity: 0;
}
.rent__number {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
  font-family: "Poppins", cursive;
  font-weight: 600;
  font-size: 4.4rem;
}
.rent__title {
  font-weight: 500;
  margin-bottom: 0.5em;
}
.rent__text {
  font-size: 1.4rem;
  color: #686767;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/hero-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-img__title {
  font-family: "Poppins", cursive;
  margin-bottom: 0.5em;
  font-size: 4.8rem;
}
.hero-img__text {
  padding: 1em 0;
}

.fleet__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #fff;
  text-align: center;
  perspective: 1000px;
}
.fleet__card:hover .fleet__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.fleet__card:hover .fleet__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.fleet__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}
.fleet__card-img--first {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/c63s.jpg");
}
.fleet__card-img--second {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirs3.jpg");
}
.fleet__card-img--third {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/bmwm340i.jpg");
}
.fleet__card-img--fourth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/cupra.jpg");
}
.fleet__card-img--fifth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirs6.jpg");
}
.fleet__card-img--sixth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirsq3.jpg");
}
.fleet__card-img--seventh {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/meganers.jpg");
}
.fleet__card-img--eighth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/lambo.jpg");
}
.fleet__card-img--ninth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/amggtr.jpg");
}
.fleet__card-img--tenth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/golf7r.jpg");
}
.fleet__card-img--eleventh {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/bmwm2.jpg");
}
.fleet__card-img--twelfth {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/ferrari.jpg");
}
.fleet__card-img-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.8rem;
}
.fleet__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.fleet__card-img-info i {
  margin-right: 0.3em;
}
.fleet__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding-top: 1.5em;
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 1s, opacity 1s;
  z-index: 1;
}
.fleet__card-info-bg {
  filter: blur(0.15em);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.fleet__card-info-bg-1 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/c63s-4.jpg");
}
.fleet__card-info-bg-2 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirs3-4.jpg");
}
.fleet__card-info-bg-3 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/bmwm340i-3.jpg");
}
.fleet__card-info-bg-4 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/cupra-4.jpg");
}
.fleet__card-info-bg-5 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirs6-5.jpg");
}
.fleet__card-info-bg-6 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/audirsq3-5.jpg");
}
.fleet__card-info-bg-7 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/meganers-3.jpg");
}
.fleet__card-info-bg-8 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/lambo-5.jpg");
}
.fleet__card-info-bg-9 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/amggtr-3.jpg");
}
.fleet__card-info-bg-10 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/golf7r-1.jpg");
}
.fleet__card-info-bg-11 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/bmwm2-3.jpg");
}
.fleet__card-info-bg-12 {
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25)), url("../img/ferrari-5.jpg");
}
.fleet__card-info-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.7rem;
  z-index: 3;
}
.fleet__card-info-list {
  margin: 0 auto;
  width: 60%;
  list-style: none;
  z-index: 4;
}
.fleet__card-info-list-item {
  padding: 1em;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  z-index: 5;
}
.fleet__card-info-list-item:last-child {
  border-bottom: none;
}
.fleet__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
  padding: 0.5em;
  border-radius: 8px;
  width: 80%;
  border: none;
  cursor: pointer;
}
.fleet__card-info-btn::before {
  background-color: #b1b2b3;
}

.aboutus {
  position: relative;
  background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/offer-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}
.aboutus .section-heading {
  color: #fff;
}
.aboutus__option {
  margin: 2em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  background-color: #fff;
  overflow: hidden;
  background: none;
  color: #fff;
}
.aboutus__option-info {
  padding: 2em;
  z-index: 10;
}
.aboutus__option-info-text {
  font-size: 1.8rem;
  margin: 0.5em 0;
  font-weight: 400;
}
.aboutus__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.aboutus__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: #fff;
  font-family: "Poppins", cursive;
}

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}
.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(0.88);
}
.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: rgb(33, 37, 41);
}
.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}

.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.contact .white-block-left {
  background-color: #2e2e2e;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: rgb(33, 37, 41);
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #495057;
}

.footer {
  color: #fff;
  background-color: #2e2e2e;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #eee;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .rent__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .rent__box-text {
    width: 55%;
  }
  .rent__box-text--right {
    text-align: right;
  }
  .rent__box-number {
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rent__box-number--right {
    order: 1;
  }
  .rent__number {
    margin-bottom: 0;
    max-height: 300px;
  }
  .aboutus__box {
    width: 100%;
  }
  .aboutus__option {
    display: flex;
    margin: 0em 0em;
    width: 50%;
    line-height: 1.6em;
  }
  .aboutus__option--right {
    margin-left: auto;
  }
  .aboutus__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
  }
  .aboutus__option-info-text {
    margin: 0.5em 0;
    font-size: 2.6rem;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
  }
  .aboutus__option-heading {
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0.8em;
    font-size: 3.6rem;
    font-weight: 450;
  }
  .aboutus__option-text {
    font-family: "Poppins", cursive;
    font-size: 1.6rem;
  }
}
.modal-header .modal-title {
  width: 100%;
  font-size: 2.6rem;
  text-align: center !important;
}

form label {
  font-size: 2.2rem;
}
form input {
  font-size: 1.5rem !important;
}
form .btn {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .rent__text {
    font-size: 1.6rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__text {
    font-size: 2rem;
  }
  .fleet__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .fleet__card {
    margin: 1em;
    width: 45%;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #eee;
    text-decoration: none;
  }
  .aboutus__option-text {
    font-size: 1.6rem;
    line-height: 1.85em;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/header-big.jpg");
  }
  .header__heading {
    font-size: 8rem;
  }
  .nav__item {
    font-size: 4rem;
  }
  .rent__box {
    opacity: 0;
    margin: 5em 0;
  }
  .rent__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .rent__title {
    font-size: 3rem;
  }
  .rent__text {
    font-size: 2rem;
  }
  .hero-img {
    padding: 30rem 2em;
    background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/hero-big.jpg");
  }
  .hero-img__title {
    font-size: 2.2em;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
  .aboutus {
    background-image: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75)), url("../img/offer-big.jpg");
  }
  .aboutus__option-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  .aboutus__option-text {
    font-size: 1.7rem;
    line-height: 1.85em;
  }
}
@media (min-width: 1100px) {
  .fleet__card {
    width: 30%;
  }
}
.car-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 40vh;
  text-align: center;
  color: #fff;
  background-position: 0 60%;
  background-size: cover;
}

.car {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.car .wrapper {
  background-color: #fefefe;
}
.car .car__text {
  font-size: 2rem;
  line-height: 2.2em;
  font-family: "Poppins", cursive;
}
.car .car__text .car_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.car .row {
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-gutter-x: 0px;
  padding: 1em;
  margin-bottom: 5em;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
}
.car .section-heading {
  color: #fff;
}
.car .car__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.car .carousel-inner {
  display: flex;
  align-items: center;
  width: 100%;
}
.car .p-5 {
  padding: 3rem;
}
.car .mb-4 {
  margin-bottom: 1.5rem;
}
.car .list-group {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}
.car .content {
  padding: 20px;
  background-color: white;
  display: none;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
}
.car .content.active {
  display: block;
}
@media (max-width: 768px) {
  .car .vehicle p {
    font-size: 1.5rem;
  }
  .car .list-group {
    flex-wrap: wrap;
  }
}

.container-fluid .table td {
  padding: 1em;
}
.container-fluid .list-group .list-group-item {
  border: none;
  text-align: center;
  font-size: 2rem;
}/*# sourceMappingURL=main.css.map */