$main-color: rgba(33, 37, 41, 1);
$secondary-color: #495057;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(98, 101, 104, 0.75), rgba(25, 25, 27, 0.75));
$dimming-gradient: linear-gradient(45deg, rgba(98, 101, 104, 0.25), rgba(25, 25, 27, 0.25));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.65), rgba(68, 0, 255, 0.65));
$blue-gradient-solid: linear-gradient(45deg, rgba(52, 58, 64, ), rgba(73, 80, 87, 1));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);