@import "./colors";
@import "./components";
@import "./mixins";
@import "./animations";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: $dark;
}

.white-section {
  background-color: $pure-white;
}
//NAV
.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 10000;
  mix-blend-mode: difference;
  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }
  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }
  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }
  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }
    &::before {
      top: 27px;
      width: 30%;
      transition-delay: 0.1s;
    }
  }
}

//Nav
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: $blue-gradient-solid;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 2em;
    font-size: 2.8rem;
    text-decoration: none;
    color: $pure-white;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      background-color: $pure-white;
      transition: transform 0.3s;
      content: "";
    }
    &:hover::before {
      transform: scaleY(1);
    }
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

//Header
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: $pure-white;
  @include heroImages("../img/header-mini.jpg");
  background-attachment: scroll;

  &__heading {
    font-size: 4.8rem;
    font-weight: 300;
    opacity: 0;
  }
  &__text {
    font-size: 1.4rem;
  }
  &__btn {
    margin-top: 2em;
    padding: 0.8em 1.6em;
    font-size: 1.4rem;
    background: $pure-white;
    border: none;
    border-radius: 8px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      background-color: $light-white;
    }
  }
}

//Main
//rent section

.rent {
  .section-text {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
    opacity: 0;
  }
  .section-text2 {
    font-size: 1.9rem;
    padding-top: 1em;
    font-family: "Poppins", cursive;
    color: #686767;
    text-align: center;
    opacity: 0;
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin: 1.3em 0;
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
    opacity: 0;
  }
  &__number {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
    font-family: "Poppins", cursive;
    font-weight: 600;
    font-size: 4.4rem;
  }
  &__title {
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  &__text {
    font-size: 1.4rem;
    color: #686767;
  }
}

//hero-img
.hero-img {
  position: relative;
  padding: 10em 2em;
  @include heroImages("../img/hero-mini.jpg");
  text-align: center;
  color: $pure-white;
  overflow: hidden;
  &__title {
    font-family: "Poppins", cursive;
    margin-bottom: 0.5em;
    font-size: 4.8rem;
  }
  &__text {
    padding: 1em 0;
  }
}

// Cars

.fleet {
  &__card {
    position: relative;
    margin: 1em 0;
    height: 450px;
    color: $pure-white;
    text-align: center;
    perspective: 1000px;
    &:hover {
      .fleet__card-img {
        transform: rotateY(-180deg);
        opacity: 0;
      }
      .fleet__card-info {
        transform: rotateY(0);
        opacity: 1;
      }
    }
    &-img {
      padding: 2em;
      height: 100%;
      border-radius: 8px;
      background-size: cover;
      transition: transform 1s, opacity 1s;
      &--first {
        background-image: $dimming-gradient, url("../img/c63s.jpg");
      }
      &--second {
        background-image: $dimming-gradient, url("../img/audirs3.jpg");
      }
      &--third {
        background-image: $dimming-gradient, url("../img/bmwm340i.jpg");
      }
      &--fourth {
        background-image: $dimming-gradient, url("../img/cupra.jpg");
      }
      &--fifth {
        background-image: $dimming-gradient, url("../img/audirs6.jpg");
      }
      &--sixth {
        background-image: $dimming-gradient, url("../img/audirsq3.jpg");
      }
      &--seventh {
        background-image: $dimming-gradient, url("../img/meganers.jpg");
      }
      &--eighth {
        background-image: $dimming-gradient, url("../img/lambo.jpg");
      }
      &--ninth {
        background-image: $dimming-gradient, url("../img/amggtr.jpg");
      }
      &--tenth {
        background-image: $dimming-gradient, url("../img/golf7r.jpg");
      }
      &--eleventh {
        background-image: $dimming-gradient, url("../img/bmwm2.jpg");
      }
      &--twelfth {
        background-image: $dimming-gradient, url("../img/ferrari.jpg");
      }
      &-title {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 2.8rem;
      }
      &-info {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 1.8rem;
        i {
          margin-right: 0.3em;
        }
      }
    }
    &-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 8px;
      padding-top: 1.5em;
      opacity: 0;
      transform: rotateY(180deg);
      transition: transform 1s, opacity 1s;
      z-index: 1;
      &-bg {
        filter: blur(0.15em);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        &-1 {
          background-image: $dimming-gradient, url("../img/c63s-4.jpg");
        }
        &-2 {
          background-image: $dimming-gradient, url("../img/audirs3-4.jpg");
        }
        &-3 {
          background-image: $dimming-gradient, url("../img/bmwm340i-3.jpg");
        }
        &-4 {
          background-image: $dimming-gradient, url("../img/cupra-4.jpg");
        }
        &-5 {
          background-image: $dimming-gradient, url("../img/audirs6-5.jpg");
        }
        &-6 {
          background-image: $dimming-gradient, url("../img/audirsq3-5.jpg");
        }
        &-7 {
          background-image: $dimming-gradient, url("../img/meganers-3.jpg");
        }
        &-8 {
          background-image: $dimming-gradient, url("../img/lambo-5.jpg");
        }
        &-9 {
          background-image: $dimming-gradient, url("../img/amggtr-3.jpg");
        }
        &-10 {
          background-image: $dimming-gradient, url("../img/golf7r-1.jpg");
        }
        &-11 {
          background-image: $dimming-gradient, url("../img/bmwm2-3.jpg");
        }
        &-12 {
          background-image: $dimming-gradient, url("../img/ferrari-5.jpg");
        }
      }

      &-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1.2em;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 2.7rem;
        z-index: 3;
      }
      &-list {
        margin: 0 auto;
        width: 60%;
        list-style: none;
        z-index: 4;
        &-item {
          padding: 1em;
          font-weight: 500;
          font-size: 1.5rem;
          border-bottom: 1px solid $light-white;
          z-index: 5;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2em;
        padding: 0.5em;
        border-radius: 8px;
        width: 80%;
        border: none;
        cursor: pointer;

        &::before {
          background-color: $grey-color;
        }
      }
    }
  }
}

//O nas
.aboutus {
  position: relative;
  @include heroImages("../img/offer-mini.jpg");
  width: 100%;
  overflow: hidden;
  .section-heading {
    color: $pure-white;
  }
  &__option {
    margin: 2em 0;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    background-color: $pure-white;
    overflow: hidden;
    background: none;
    color: $pure-white;
    &-info {
      padding: 2em;
      z-index: 10;
      &-text {
        font-size: 1.8rem;
        margin: 0.5em 0;
        font-weight: 400;
      }
    }
    &-heading {
      margin-bottom: 0.5em;
      font-size: 2.4rem;
      font-weight: 300;
    }
    &-text {
      margin-bottom: 0.5em;
      font-size: 1.3rem;
      color: $pure-white;
      font-family: "Poppins", cursive;
    }
  }
}

//modal rezerwacji
.modal-dialog {
  margin: auto;
  padding: 20px;
}
.calendar-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation-modal .modal-content {
  padding: 2rem;
  border-radius: 10px;
}

.reservation-modal .modal-header .modal-title {
  font-size: 2.1rem;
  font-weight: 600;
}

.reservation-form .form-label {
  font-size: 1.8rem;
  font-weight: 600;
}

.reservation-form .form-select {
  font-size: 1.4rem;
  padding: 0.75rem;
}

.reservation-form .form-control {
  font-size: 1rem;
  padding: 0.75rem;
}

.calendar {
  margin: 0 auto;
  width: 100%;
  max-width: none;
}

.reservation-modal .form-check-label {
  font-size: 1.4rem;
}

.reservation-modal h6 {
  font-size: 1.8rem;
  font-weight: 600;
}

.reservation-modal .form-control[readonly] {
  background-color: #f8f9fa;
  font-weight: 500;
  color: #495057;
}

.reservation-btn {
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.calendar {
  overflow-x: auto;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .reservation-btn {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    max-height: 80vh;
    overflow-y: auto;
  }
}

//Opinie

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}

.reviews {
  &__box {
    position: relative;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #2e2e2e2e;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.88);
    }
  }
  &__box-img {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: translate(-50%, -50%);
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__box-quote {
    margin-bottom: 1em;
    font-size: 3rem;
    color: $main-color;
  }
  &__box-text {
    margin-bottom: 1em;
    font-size: 1.4rem;
    color: $dark;
  }
}

//Kontakt

.contact {
  position: relative;
  background-color: $light-white;
  overflow: hidden;

  .white-block-left {
    background-color: $dark;
  }

  &__form,
  &__form-top {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  &__form-input {
    @include contactForm;
  }
  &__form-textarea {
    @include contactForm;
    max-width: 100%;
    width: 100%;
    min-height: 150px;
  }
  &__form-btn {
    align-self: flex-end;
    padding: 1em;
    width: 100%;
    max-width: 300px;
    color: $pure-white;
    border: none;
    border-radius: 8px;
    background-color: $main-color;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }
  }
}

//Footer

.footer {
  color: $pure-white;
  background-color: $dark;

  .wrapper {
    padding: 6em 2em 2em;
  }
  &__box {
    font-size: 1.4rem;
  }
  &__box-desktop {
    display: none;
  }
  &__box-title {
    margin-bottom: 1em;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__box-social {
    margin: 2em 0 1em;
  }
  &__box-link {
    padding: 0 0.3em;
    font-size: 3.6rem;
    color: $pure-white;
    text-decoration: none;
    transition: color 0.3s;
    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $light-white;
    }
  }

  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
}
.container-fluid {
  max-width: 1400px;
  .table {
    position: relative;
    td {
      word-wrap: break-word;
      white-space: normal;
      padding: 1em;
      font-size: 1.6rem;
    }
  }
  .list-group {
    .list-group-item {
      border: none;
      text-align: center;
      font-size: 2rem;
    }
  }
  .btn-primary {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.6rem;
    bottom: 2px;
    right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

//modal rezerwacji

//Media
@media (min-width: 576px) {
  .rent {
    &__box {
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 55%;
        &--right {
          text-align: right;
        }
      }
      &-number {
        width: 40%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &--right {
          order: 1;
        }
      }
    }
    &__number {
      margin-bottom: 0;
      max-height: 300px;
    }
  }
  .aboutus {
    &__box {
      width: 100%;
    }
    &__option {
      display: flex;
      margin: 0em 0em;
      width: 50%;
      line-height: 1.6em;
      &--right {
        margin-left: auto;
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        &-text {
          margin: 0.5em 0;
          font-size: 2.6rem;
          font-weight: 400;
          font-family: "Roboto Condensed", sans-serif;
        }
      }
      &-heading {
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 0.8em;
        font-size: 3.6rem;
        font-weight: 450;
      }
      &-text {
        font-family: "Poppins", cursive;
        font-size: 1.6rem;
      }
    }
  }
  .container-fluid {
    margin-bottom: 30px;
    .table {
      position: relative;
      td {
        font-size: 2rem;
      }
    }
    .list-group {
      .list-group-item {
        border: none;
        text-align: center;
        font-size: 2.5rem;
      }
    }
  }
  .btn-primary {
    position: absolute;
    padding: 15px 30px;
    font-size: 2rem;
    bottom: 1%;
    right: 10%;
  }
}

//Modal

.modal-header {
  .modal-title {
    width: 100%;
    font-size: 2.6rem;
    text-align: center !important;
  }
}
form {
  label {
    font-size: 2.2rem;
  }
  input {
    font-size: 1.5rem !important;
  }
  .btn {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header {
    &__heading {
      font-size: 6.6rem;
    }
    &__text {
      font-size: 2.2rem;
    }
    &__btn {
      font-size: 1.6rem;
    }
  }
  .rent {
    &__text {
      font-size: 1.6rem;
    }
  }
  .hero-img {
    padding: 30rem 2em;
    hr {
      margin: 0 auto;
      width: 70%;
    }
    &__text {
      font-size: 2rem;
    }
  }
  .fleet {
    &__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    &__card {
      margin: 1em;
      width: 45%;
    }
  }
  .footer {
    &__boxes {
      display: flex;
      justify-content: space-between;
    }
    &__box-desktop {
      display: block;
    }
    &__box {
      margin: 0 2em;
      width: 25%;

      &:first-child {
        width: 50%;
      }
    }
    &__box-title {
      font-size: 2.4rem;
    }
    &__box-list {
      list-style: none;
    }
    &__box-list-item {
      margin-bottom: 1em;
      a {
        color: $light-white;
        text-decoration: none;
      }
    }
  }
  .aboutus__option-text {
    font-size: 1.6rem;
    line-height: 1.85em;
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: $blue-gradient, url("../img/header-big.jpg");
    &__heading {
      font-size: 8rem;
    }
  }
  .nav {
    &__item {
      font-size: 4rem;
    }
  }
  .rent {
    &__box {
      opacity: 0;
      margin: 5em 0;
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2.5em;
      }
    }
    &__title {
      font-size: 3rem;
    }
    &__text {
      font-size: 2rem;
    }
  }
  .hero-img {
    padding: 30rem 2em;
    background-image: $blue-gradient, url("../img/hero-big.jpg");
    &__title {
      font-size: 2.2em;
    }
    hr {
      width: 60%;
      max-width: 900px;
    }
  }
  .aboutus {
    background-image: $blue-gradient, url("../img/offer-big.jpg");
    &__option {
      &-img {
        object-fit: cover;
        height: 300px;
      }
      &-text {
        font-size: 1.7rem;
        line-height: 1.85em;
      }
    }
  }
}
@media (min-width: 1100px) {
  .fleet {
    &__card {
      width: 30%;
    }
  }
}
//car
.car-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 40vh;
  text-align: center;
  color: $pure-white;
  background-position: 0 60%;
  background-size: cover;
}
.car {
  position: relative;
  width: 100%;
  overflow: hidden;
  .content {
    overflow: hidden;
  }
  .wrapper {
    background-color: #fefefe;
  }
  .car__text {
    font-size: 2rem;
    line-height: 2.2em;
    font-family: "Poppins", cursive;
    .car_title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    --bs-gutter-x: 0px;
    padding: 1em;
    margin-bottom: 5em;
    box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
  }

  .section-heading {
    color: $pure-white;
  }

  .car__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .carousel-inner {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .p-5 {
    padding: 3rem;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }
  .list-group {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
  }

  .content {
    padding: 20px;
    background-color: white;
    display: none;
    box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.25);
  }

  .content.active {
    display: block;
  }

  @media (max-width: 768px) {
    .vehicle p {
      font-size: 1.5rem;
    }

    .list-group {
      flex-wrap: wrap;
    }
  }
}
